<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @game.status %>
</p>

<p>
  <b>State:</b>
  <%= @game.state %>
</p>

<p>
  <b>Moves:</b>
  <%= @game.moves %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
