<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @game.status %>
</p>

<p>
  <b>Board:</b>
  <%= @game.board %>
</p>

<p>
  <b>Moves:</b>
  <%= @game.moves %>
</p>


<%= link_to 'Back', games_path %>
